/*
    FONTS
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}
.conteiner{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
header .top{

    width: 100%;
    color: #ffffff;
    background-color: #DF1C2F;
    height: 66px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0px;
    
    z-index: 1;
}
header .top h2{
    text-transform: uppercase;

    
}
header nav{
    width: 100%;
    max-width: 1400px;
    background-color: #000000;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* position: relative; */
    margin-top: 60px;

    z-index: 0;
}
header nav ul{
    display: flex;
    flex-direction: row;

    gap: 34px;

    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #ffffff;

    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 153.846% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    }
.conteiner nav .logo{
    margin-left: 32px;
}
.conteiner nav .actions{
    display: inline-flex;
    padding: 20px 0px;
    align-items: flex-start;
    gap: 24px;
}
.conteiner .products_page .products_top{
    margin-top: 80px;
}
.conteiner .products_page .products_top h2{
    color: #181A1D;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.5px; /* 137.5% */
}
.conteiner .products_page .products_top p{
    color: #222529;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.4px;
}
.conteiner .products_page .products_top p .price{
    color: #D00C2A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.toggle{
    /*margin-top: 50px;*/
    align-items: center;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 24px;
}
.toggle > p{
    color: #181A1D;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px; /* 192.857% */
}
/*
.cards_wrapper{

}
*/
.card{
    display: inline-flex;
    padding: 19px 82px 11px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: -0.687px;

    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 25px 0px rgba(24, 26, 29, 0.10);
}
.card h2{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.32px; /* 138% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.card p{
    color: #65666A;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 225% */
    letter-spacing: 0.3px;
}
.conteiner .products{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.conteiner > .products > section{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 350px;

    justify-content: center;
}
.conteiner .products section ul{
    list-style: none;
}

.tag_desconto{
    width: 80px;
    height: 18px;
    
    position: relative;
    top: -220px;
    right: -10px;

}

.conteiner .products section .title_bar{
    background-color: #65666A;

    display: flex;
    flex-direction: row;
    padding: 10px 126.969px 11.25px 128.031px;
    align-items: flex-start;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.25px; /* 148.077% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.btn_shop_now{
    border-radius: 3px;
    border: 2px solid #181A1D;
    display: flex;
    padding: 2px 31.25px 2px 31.75px;
    align-items: flex-start;

    color: #181A1D;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 216.667% */
    letter-spacing: 1.3px;
    text-transform: uppercase;

    max-width: 140px;
    width: 100%;
    margin-top: 24px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 30px;
}
.products section p:first-of-type{
    color: #181A1D;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 150% */
    letter-spacing: 0.6px;
}

.inc{
    color: #65666A;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.5px; /* 150% */
    letter-spacing: 0.325px;
}
.desc{
    color: #181A1D;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.4px;
}
.prequalify{
    color: #181A1D;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.4px;
    text-decoration-line: underline;

    margin-bottom: 48px;
}
.list_includes{
    color: #181A1D;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 150% */
    letter-spacing: 0.35px;

    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}
.list_includes li:first-of-type{
    color: #181A1D;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 150% */
    letter-spacing: 0.35px;
}
/*///////////////////////////////////////RENT/*/
.rent{
    display: flex;
    justify-content: space-between;

    height: 200px;
}
.rent .bar{
    width: 100%;
    max-width: 400px;

    justify-content: center;

    background-color: #ffffff;

    color: #181A1D;
}
.rent .bar h2{
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.94px; /* 171% */
    letter-spacing: 0.4px;
}
.rent .bar p{
    color: #65666A;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 23.94px; /* 171% */
    letter-spacing: 0.3px;

    margin-top: 16px;
}
.bar a{
    color: #181A1D;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.btn{
    display: inline-flex;
    padding: 16.5px 25.813px 16.5px 26px;
    align-items: flex-start;

    border-radius: 4px;
    border: 2px solid #181A1D;

}
/*
.rent img{
    position: absolute;
    top: 1163px;
    left: 90px;
}
*/
.delivey{
    padding: 0 120px;

    
}
.delivey h2{
    text-align: center;
    margin-bottom: 60px;
}
.delivey .line{
    display: flex;
    justify-content: center;
}
.block{
    display: flex;
    flex-direction: column;

    align-items: center;

    max-width: 280px;
}
.block img{
    width: 60px;
    margin-bottom: 9px;
}
.block h2{
    margin-top: 13px;
    margin-bottom: 20px;

    color: #222529;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.25px; /* 148.077% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.block p{
    color: #65666A;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.5px; /* 150% */
    letter-spacing: 0.325px;
}
.block a{
    color: #181A1D;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.5px; /* 150% */
    letter-spacing: 0.325px;
    text-decoration-line: underline;

    margin-top: 20px;
}

.separador{
    color: #ffffff;
    background-color: #000;
    
    text-transform: uppercase;
    height: 80px;
    margin-top: 60px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*.separador h2{
    
}*/
.faq{
    display: flex;
    flex-direction: column;
    max-width: 940px;
    justify-content: center;

    margin: 80px auto;

    color: #181A1D;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.5px; /* 137.5% */

}
.faq h2{
    border-bottom: 2px solid #181A1D;
}
.faq_line{
    /*height: 60px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    background-color: #ffffff;

    padding: 0 10px;*/

    display: flex;
    width: 100%;
    max-width: 940px;
    height: 59px;
    padding: 20px 10px;
    /*justify-content: center;*/
    align-items: flex-start;
    gap: 349px;
    flex-shrink: 0;

    justify-content: space-between;

    color: #181A1D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-bottom: 0.5px solid #dcdcdd;
}
.faq_line img{
    width: 12px;
    height: 12px;
}

.disclaimers{
    /*margin: 42px 50px 0px 50;*/
    gap: 54px;
}

.disclaimers p:first-of-type{
    display: flex;
    width: 100%;
    max-width: 1340px;
    height: 176px;
    flex-direction: column;
    justify-content: center;
    margin: 42px 50px;

    color: #222529;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 150% */
    letter-spacing: 0.3px;
}

.disclaimers p:last-of-type{
    width: 100%;
    max-width: 1000px;
    margin-left: 50px;
    margin-right: 390px;

    color: #65666A;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 150% */
    letter-spacing: 0.3px;
}
.disclaimers p:last-of-type span{
    color: #65666A;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-decoration-line: underline;
}
.site_map{

    display: flex;
    flex-direction: row;
    gap: 200px;
}
.pages{
    display: flex;
    flex-direction: row;

    margin: 50px 50px;
    gap: 80px;
}
/*.pages ul{

}*/
.pages ul h2{
    color: #222529;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.94px; /* 171% */
    letter-spacing: 0.4px;
}
.pages ul li{
    color: #65666A;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-top: 11px;
}

.subscribe{
    margin-top: 50px;
}

footer ul{
    display: flex;
    gap: 30px;
}

footer ul li a{
    color: #181A1D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
}

.footer-top{
    display: flex;
    flex-direction: row;
}

.subscribe h2{
    color: #181A1D;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.25px; /* 160.417% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.subscribe P{
    color: #181A1D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 150% */
    letter-spacing: 0.3px;

    margin-top: 20px;
}

.subscribe p span{
    color: #181A1D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-decoration-line: underline;
}
.contacts{
    color: #181A1D;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 145.455% */
    letter-spacing: 1.4px;
    text-transform: uppercase;

    margin-top: 30px;
}
.contacts div{
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
}


.email input:first-of-type{
    border-radius: 2px;
    border: 1px solid #888B93;
    background: #FFF;

    width: 272.641px;
    height: 50px;

    margin-right: 10px;
}

.email input:last-of-type{
    border-radius: 3px;
    border: 2px solid #DF1C2F;
    background: #DF1C2F;

    display: inline-flex;
    padding: 17.5px 24.359px 17.5px 24px;
    align-items: flex-start;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    height: 50px;
}

footer ul li a:last-of-type{
    color: #181A1D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;

}